@font-face {
  font-family: swgothe;
  src: url("/font/swgothe-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: swgothe;
}
#IndexBody {
  background-color: rgb(45, 45, 45);
  display: grid;
  grid-template-columns: 3fr, 2fr, 1fr;
  grid-template-rows: 1fr, 2fr;
  height: 100%;
  width: 100%;
}
#InfoHUD {
  grid-row-start: 1;
  grid-column-start: 1;
  height: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}
#PolCompassDiv {
  grid-row-start: 1;
  grid-column-start: 3;
}
#PolCompass {
  width: 17vw;
  height: 1fr;
}
#StatsTracker {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-row-start: 1;
  grid-column-start: 2;
  height: 6vw;
}
#RedPopulation {
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: #f9bbbb;
}
#BlueControll {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: #93daf8;
}
#GreenPopularity {
  grid-row-start: 2;
  grid-column-start: 1;
  background-color: #c9e5bd;
}
#YellowTressuary {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #f5f5a9;
}
#GameLoopArea {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#EnactedPolicy {
  height: 80vh;
  width: 15vw;
}
div.InfoHUD {
  background-image: url("Texture Menu.png");
  border: 0.2vw;
  border-radius: 1vw;
  border-style: solid;
  padding: 0.5vw;
}
#EnactedPolicyTexture {
  border: 10vw;
  border-style: solid;
  border-radius: 1vw;
}
#EnactedPolicyP {
  color: rgb(0, 43, 35);
}
